body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navbar */
.navbar{
  width: 50%;
  list-style:none;
  margin: 0 auto;
  padding-left: 0;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: #5F5B1A;
}

/* app-stylings */
.container {
  padding: 1rem;
  position: relative;
}
/* Home Page */
#homeImageWrapper {
  display:inline-block;
}

.center {
  text-align: center;
}
.App {
  /*position: relative;*/
  width:100%;
  margin-left:auto;
  margin-right:auto;
}

#andrew_photo {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height:40%;
  width:40%;
}

.card-paragraph {
  width: 90%;
  margin: 0 auto;
}

/* resume page */
.resume-header {
  text-align: left;
  border-bottom: 1px solid black;
}

#resume-page li {
  list-style-type: none;
  display: block;
  margin: .2rem;
}

#resume-employment li text {
  float: right;
}
#resume-page ul {
  text-align: left;
}

/* Audio components */
.react-player {
  display:inline-block;
}

#audioPlayerWrapper {
  display:inline-block;
  width: 100%;
}

.row {
  margin-top: .5rem;
}

.soundHeader__logo {
  visibility: hidden;
}
